.navbar {
  width: 100vw;
  min-height: var(--header-min-size);
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--charcoal-grey);
  color: #fff;
}
.container {
  width: 100%;
  max-width: var(--x-large);
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textsContainer span {
  white-space: nowrap;
}
.heading {
  display: inline-block;
  margin: 0 20px 0 0;
  white-space: nowrap;
  font-size: 22px;
  line-height: 1.23;
}
@media (max-width: 480px) {
  .container {
    padding: 10px 10px;
  }
}
@media (max-width: 280px) {
  .heading {
    font-size: 18px;
  }
  .textsContainer span {
    font-size: small;
    white-space: unset;
  }
}
