.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container .form .formGrid {
  width: 100%;
  display: grid;
  column-gap: 30px;
  grid-template-columns: 7fr 3fr;
}
.container .form button {
  display: block;
}
.sideform {
  display: flex;
  flex-direction: column;
  padding: 0 0 15px 0;
}
/* in rows in mobile and tablet */
@media screen and (max-width: 769px) {
  .container .form .formGrid {
    display: flex;
    flex-direction: column;
  }
}
