$theme-colors: (
  "primary": #1c7cd5,
  "info": #5bc0de,
  "danger": #d9534f,
  "success": #5cb85c,
  "warning": #f0ad4e,
);
$alert-margin-bottom: 0;
.alert {
  padding: 15px;
  white-space: nowrap;
}

@import "bootstrap/scss/bootstrap";
