@font-face {
  font-family: HelveticaNeue;
  src: url(./HelveticaNeue.woff2) format("woff2"),
    url(./HelveticaNeue.woff) format("woff"),
    url(./HelveticaNeue.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: HelveticaNeue;
  src: url(./HelveticaNeue-Roman.woff2) format("woff2"),
    url(./HelveticaNeue-Roman.woff) format("woff"),
    url(./HelveticaNeue-Roman.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: HelveticaNeue;
  src: url(./HelveticaNeue-Thin.woff2) format("woff2"),
    url(./HelveticaNeue-Thin.woff) format("woff"),
    url(./HelveticaNeue-Thin.ttf) format("ttf");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: HelveticaNeue;
  src: url(./HelveticaNeue-Light.woff2) format("woff2"),
    url(./HelveticaNeue-Light.woff) format("woff"),
    url(./HelveticaNeue-Light.ttf) format("ttf");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
